
t_001/.ipynb_checkpoints/greetings-checkpoint.ipynb
t_001/pythonProject/.idea/inspectionProfiles/profiles_settings.xml
t_001/pythonProject/.idea/misc.xml
t_001/pythonProject/.idea/modules.xml
t_001/pythonProject/.idea/pythonProject.iml
t_001/Тестовое задание.pdf
